.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlePage {
  text-align: center;
  font-size: 50px;
  padding: 50px;
}
.eventsList {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
